    .input {
        border-width: 1px;
        border-color: #fd8700 100%, 50%;
        border-radius: 0.25rem;
        height: 2.5rem;
        width: 100%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .input--left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin-right: 0;
    }

    .input__icon {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    .input__label {
        margin-bottom: 0.5rem;
        display: block;
        color: #1e7e34;
    }
    .bttn {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        background-color: #fd8700 100%, 50%;
        border-width: 1px;
        border-color: #fd8700 100%, 50%;
        margin-right: -0.5rem;
        height: 2.5rem;
    }

    .bttn.fill {
        width: 50%;
    }

    .bttn:focus {
        outline: 1px dotted;
    }

    .bttn:hover {
        background-color: #fd8700 100%, 50%;
    }

    .bttn.active {
        background-color: #fd8700 100%, 50%;
        color: #fd8700 100%, 50%;
        border-width: 1px;
        border-color: #fd8700 100%, 50%;
    }

    .bttn__primary {
        background-color: #fd8700 100%, 50%;
        color: #fd8700 100%, 50%;
        border-width: 1px;
        border-color: #fd8700 100%, 50%;
        border-radius: 0.25rem;
        font-size: 1.125rem;
        padding-left: 1.25rem;
        padding-right: 1.25rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        text-align: center;
    }

    .bttn.active:hover,
    .bttn__primary:hover {
        background-color: #fd8700 100%, 50%;
    }
    .result {
        max-width: 56rem;
    }

    .result__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .divider {
        border-width: 1px;
        border-color: #fd8700 100%, 50%;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        height: 0;
    }

/* ตัวอย่างการปรับแต่งเพิ่มเติม */
.container {
    border: 2px solid #3498db; /* สีขอบกรอบ */
    border-radius: 20px; /* ความโค้งขอบกรอบ */
    background-color: #ecf0f1; /* สีพื้นหลังกรอบ */
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); /* เงากรอบ */
}

body {
    background-image: url('https://scontent.fbkk8-1.fna.fbcdn.net/v/t1.15752-9/373470871_1314784856100021_6714859379756970202_n.png?_nc_cat=100&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeG0xf0cvV0y1RwZMJCbsufhzwO1bSVlLEjPA7VtJWUsSM9nc-uLsAu_R6HqVcSxZQnHexYpODZKZ0G7bbEH8Xpp&_nc_ohc=n_AlCUrXHCAAX8mH87V&_nc_ht=scontent.fbkk8-1.fna&oh=03_AdQHmxQVVbo_mntQie2MYTV1mcnXYSEsUQVLD2Du8s0atw&oe=659A137B');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
    color: #333; /* สีข้อความ */
    display: grid;
    place-items: center;
    height: 100vh;
}
.content {
    max-width: 600px; /* กำหนดความกว้างสูงสุดของกรอบ Inference */
    margin: auto; /* จัดให้กรอบอยู่ตรงกลางของหน้าจอ */
    padding: 20px; /* ระยะห่างของเนื้อหากับกรอบ Inference */
    border: 2px solid #fd8700; /* สีขอบกรอบ Inference */
    border-radius: 10px; /* ความโค้งขอบกรอบ Inference */
    background-color: #fff; /* สีพื้นหลังของกรอบ Inference */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* เงากรอบ Inference */
}
.result {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.col-12-m8 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__logo  {
    max-width: 600px; /* กำหนดความกว้างสูงสุดของกรอบ Inference */
    margin: auto; /* จัดให้กรอบอยู่ตรงกลางของหน้าจอ */
    border: 2px solid #fd8700; /* สีขอบกรอบ Inference */
    border-radius: 10px; /* ความโค้งขอบกรอบ Inference */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* เงากรอบ Inference */
}