html, body {
    background-color: black;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body video {
    transition: filter 250ms linear;
}

body.loading video {
    filter: grayscale(1) brightness(0.25);
}

body.loading:before {
    content: "Loading Model...";
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 20px;
    font-size: 3em;
    font-weight: bold;
    z-index: 100;
}

html, body, video, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

video, canvas {
    position: fixed;
    top: 0;
    left: 0;
}


#fps {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#fps:empty {
    display: none;
}

#fps:after {
    content: " fps";
}
body {
            font-family: 'Inter', sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-image: url('https://scontent.fbkk22-1.fna.fbcdn.net/v/t1.15752-9/373470871_1314784856100021_6714859379756970202_n.png?_nc_cat=100&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeG0xf0cvV0y1RwZMJCbsufhzwO1bSVlLEjPA7VtJWUsSM9nc-uLsAu_R6HqVcSxZQnHexYpODZKZ0G7bbEH8Xpp&_nc_ohc=VotiRJ0Fi4sAX_RW5js&_nc_ht=scontent.fbkk22-1.fna&oh=03_AdQOgFiO71jbznWzvwRjs4tqBebKXJlE5ypbPxGHgFQfSg&oe=658E6E3B');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            color: #fff;
            display: grid;
            place-items: center;
            height: 100vh;
        }

        form {
            max-width: 600px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            display: grid;
            gap: 16px;
            text-align: center;
        }

        .header__logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    gap: 16px;
    text-align: left;
}

        .content__grid {
            display: grid;
            gap: 16px;
        }

        .col-12 {
            grid-column: span 2;
        }

        .input {
            width: calc(100% - 20px);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            margin: 0;
        }

        .bttn {
            padding: 10px;
            border: 1px solid #f58025; /* Orange border color */
            border-radius: 5px;
            background-color: #f58025; /* Orange background color */
            color: #fff;
            cursor: pointer;
        }

        .bttn:hover {
            background-color: #d56e1e; /* Darker orange on hover */
        }

        .bttn__primary {
            background-color: #28a745;
            border-color: #28a745;
            color: #fff;
        }

        .bttn__primary:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }
        .bttn-right-fill{
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            border: 1px solid #f58025; /* Orange border color */
            border-radius: 5px;
            background-color: #f58025; /* Orange background color */
            color: #fff;
            cursor: pointer;
        }