html, body {
    background-color: black;
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

body video {
    transition: filter 250ms linear;
}

body.loading video {
    filter: grayscale(1) brightness(0.25);
}

body.loading:before {
    content: "Loading Model...";
    color: white;
    text-align: center;
    width: 100%;
    position: absolute;
    top: 20px;
    font-size: 3em;
    font-weight: bold;
    z-index: 100;
}

html, body, video, canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

video, canvas {
    position: fixed;
    top: 0;
    left: 0;
}


#fps {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#fps:empty {
    display: none;
}

#fps:after {
    content: " fps";
}
body {
            font-family: 'Inter', sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background-image: url('https://scontent.fcnx2-1.fna.fbcdn.net/v/t1.15752-9/430853963_808985401058230_577631216584243296_n.png?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFe7ax17vvCCOZ9jikrX3GjQCp_QHwSpzlAKn9AfBKnObKFGUN2VpHUwZTxYdTI0UTM9CJIhNFhhPwXa50Jrqqh&_nc_ohc=AAHwNKDLsFoAX90cbPE&_nc_ht=scontent.fcnx2-1.fna&oh=03_AdTcjzznfUBWmHGMooEgzoKpahwFcvw7slZJ3DCg4Pvumg&oe=66167798');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            color: #fff;
            display: grid;
            place-items: center;
            height: 100vh;
        }

        form {
            max-width: 600px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.9);
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            display: grid;
            gap: 16px;
            text-align: center;
        }

        .header__logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    gap: 16px;
    text-align: left;
}

        .content__grid {
            display: grid;
            gap: 16px;
        }

        .col-12 {
            grid-column: span 2;
        }

        .input {
            width: calc(100% - 20px);
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            margin: 0;
        }

        .bttn {
            padding: 10px;
            border: 1px solid #f58025; /* Orange border color */
            border-radius: 5px;
            background-color: #f58025; /* Orange background color */
            color: #fff;
            cursor: pointer;
        }

        .bttn:hover {
            background-color: #d56e1e; /* Darker orange on hover */
        }

        .bttn__primary {
            background-color: #28a745;
            border-color: #28a745;
            color: #fff;
        }

        .bttn__primary:hover {
            background-color: #218838;
            border-color: #1e7e34;
        }
        .bttn-right-fill{
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            border: 1px solid #f58025; /* Orange border color */
            border-radius: 5px;
            background-color: #f58025; /* Orange background color */
            color: #fff;
            cursor: pointer;
        }
        /* For mobile phones: */
[class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }